<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!-- 標準出力用設定 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- LOG_FILE は Spring Boot が設定している logging.path から取得される。-->
<!--    <property name="APP_LOG_FILENAME_A" value="${test.logging.fileA}"/> logbackがapplication.propertiesより早くロードされるため-->
    <springProperty scope="context" name="APP_LOG_FILENAME_A" source="logging.fileA"/>
    <appender name="APPLICATION_LOG_FILE_A" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/${APP_LOG_FILENAME_A}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/rotation/${APP_LOG_FILENAME_A}.%d{yyyyMMdd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} :
                %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
            </pattern>
        </encoder>
    </appender>

    <!-- ファイルA出力用設定 -->
<!--    <property name="APP_LOG_FILENAME_B" value="${test.logging.fileB}"/>-->
    <springProperty scope="context" name="APP_LOG_FILENAME_B" source="logging.fileB"/>
    <appender name="APPLICATION_LOG_FILE_B" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 出力先ファイルパス -->
        <file>/${APP_LOG_FILENAME_B}</file>

        <!-- ログのローテーション設定 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- 世代管理されるファイルの命名パターン -->
            <fileNamePattern>/rotation/${APP_LOG_FILENAME_B}.%i</fileNamePattern>    <!-- %iはインデックス。minIndexからMaxIndexまでの連番 -->
            <minIndex>1</minIndex>
            <maxIndex>7</maxIndex>      <!-- 最大7ファイルまで世代管理 -->
        </rollingPolicy>

        <!-- ローテーションのトリガ。10MBに達した時点でローテーション。 -->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_APPLICATION_LOG_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="APPLICATION_LOG_FILE_A"/>
    </appender>
</included>